.title-form {
  color: #006F6B;
  font-weight: 600;
  text-transform: uppercase;
}

.form-default {
  border-top: 2px solid #006F6B !important;
}

.btn-acess:hover {
  color: #ffffff !important;
  background-color: #00b28c !important;
}

.btn-acess {
  color: #006f6b !important;
  cursor: pointer !important;
}

#col-left-form {
  margin-right: 20px;
}

.title-col-form {
  font-size: 22px;
  color: #006f6b  !important;
  margin-bottom: 22px;
}

#col-right-form {
  margin-right: 20px;
}

.btn-main:active {
  outline: none !important;
  background-color: #006f6b !important;
}

.btn-main:focus {
  background-color: #006f6b !important;
}