.title-form {
  color: #006F6B;
  font-weight: 600;
  text-transform: uppercase;
}

.form-default {
  border-top: 2px solid #006F6B !important;
}

.btn-acess:hover {
  color: #ffffff !important;
  background-color: #00b28c !important;
}

.btn-acess {
  color: #006f6b !important;
  cursor: pointer !important;
}

